{% extends 'music/base.html' %}
{% block title %}Album Details{% endblock %}
{% block body %}
    <ul>
        {% for album in all_albums %}
            <li>
                <a href="{% url 'music:detail' album.id %}">{{ album.album_title }}</a>
            </li>
        {% endfor %}
    </ul>

<div class="albums-container container-fluid">
    {% if all_albums %}
        {% for album in all_albums %}
            <div class="col-sm-4 col-lg-2">
                <div class="thumbnail">
                    <a href="{% url 'music:detail' album.id %}"><img src="{{ album.album_logo.url }}" alt="" class="img-responsive"></a>
                    
                </div>
                <div class="caption">
                    <h2>{{ album.album_title }}</h2>
                    <h4>{{ album.artist }}</h4>
                    <a href="{% url 'music:detail' album.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>
                    <form action="#" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="album_id" id="" value="{{ album.id }}">
                        <button type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span></button>
                    
                    </form>
                    <a href="{% url 'music:favourite' album.id %}" class="btn btn-default btn-sm btn-favourite" role="button">
                        <span class="glyphicon glyphicon-star" {% if album.is_favourite %} active {% endif %}></span>
                    </a>

                </div>
            </div>
        {% endfor %}
    {% endif %}    

</div>

{% endblock %}